.home__container {
  display: flex;
  padding: 3rem 5rem;
  flex-direction: column;
  justify-content: space-between;
}



.home .content .board {
  background: #20252d;
  border-radius: 1rem;
  border-left: 1rem solid #00bfaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  transition: .3s background cubic-bezier(.175, .885, .32, 1.275);
  min-width: 60rem;
}




.home .content .board * {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600
}


.copy {
  position: relative;
  display: inline-block
}

.copy__image {
  cursor: pointer;
  position: relative;
  width: 2rem
}

.copy__popover {
  background: #fff;
  border-radius: .3rem;
  bottom: 50%;
  color: #20252d !important;
  display: inline-block;
  font-size: 1rem;
  padding: .2rem .5rem;
  position: absolute;
  opacity: 0;
  right: 50%;
  text-align: center;
  text-transform: capitalize;
  transform: translateX(50%);
  transition: all .3s
}

.copy__popover.show {
  opacity: 1;
  bottom: 150%
}

.copy__popover::after {
  border: 5px transparent solid;
  border-top-color: #fff;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%)
}