
.home {
  background: #eef0f2;
}

.home__container {
  display: flex;
  padding: 3rem 5rem;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh
}


@media (min-width:992px) and (max-width:1199px) {
  .home .container {
    max-width: 1140px;
    margin: 0 auto
  }
}

@media (min-width:1200px) {
  .home .container {
    max-width: 1400px;
    margin: 0 auto
  }
}

.home .row {
  display: flex;
  flex-direction: row
}

@media (max-width:991px) {
  .home .row {
    flex-direction: column
  }
}


@media (max-width:991px) {
  .home .row .col-5 {
    width: 100%;
    padding: 0
  }
}

.home .row .col-7 {
  width: calc((100% / 12) * 7)
}

@media (max-width:991px) {
  .home .row .col-7 {
    width: 100%;
    padding: 0
  }
}

@media (max-width:991px) {
  .home .row .col {
    flex: 1;
    padding: 0
  }
}


@media (max-width:575px) {
  .home .content {
    padding-top: 5rem
  }
}


@media (max-width:575px) {
  .home .content__subtitle {
    width: 100%
  }
}

.home .content .options {
  margin: 5rem 0
}

.home .content .options__title {
  color: #4a4a4a;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0;
  transition: .1s color;
  color: #00bfaa;
  font-weight: 700;
  margin-bottom: 2rem
}

.home .content .options-select {
  width: 80%;
  margin-bottom: 2rem
}

@media (max-width:991px) {
  .home .content .options-select {
    width: 100%
  }
}

.home .content .options-select__value-container {
  padding-left: 1.5rem
}

@media (max-width:991px) {
  .home .content .boards {
    margin-bottom: 15rem
  }
}

.home .content .board {
  background: #20252d;
  border-radius: 1rem;
  border-left: 1rem solid #00bfaa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem;
  transition: .3s background cubic-bezier(.175, .885, .32, 1.275)
}

.home .content .board pre {
  margin: 0
}

.home .content .board__title {
  color: #20252d;
  letter-spacing: 1px;
  margin-bottom: 1rem
}

.home .content .board--2 .Typist {
  font-weight: 400
}

.home .content .board__group--2 {
  margin-top: 5rem
}

@media (max-width:575px) {
  .home .content .board {
    padding: 2rem
  }
}

.home .content .board * {
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600
}

.Typist {
  white-space: pre-wrap
}

.copy {
  position: relative;
  display: inline-block
}

.copy__image {
  cursor: pointer;
  position: relative;
  width: 2rem
}

.copy__popover {
  background: #fff;
  border-radius: .3rem;
  bottom: 50%;
  color: #20252d !important;
  display: inline-block;
  font-size: 1rem;
  padding: .2rem .5rem;
  position: absolute;
  opacity: 0;
  right: 50%;
  text-align: center;
  text-transform: capitalize;
  transform: translateX(50%);
  transition: all .3s
}

.copy__popover.show {
  opacity: 1;
  bottom: 150%
}

.copy__popover::after {
  border: 5px transparent solid;
  border-top-color: #fff;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%)
}